      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 col-lg-6">
            <div class="card">
              <h5 class="card-title badgeheader">Create Badges</h5>
              <hr>
                <br/>
                <br/>
              <input type="text" class="form-control" placeholder="badges Name" id="badgebody" >
                <br/>
              <button type="button" class="btn btn-block" id="badgebutton">Create</button>
            </div>    
           </div>
         </div>
       </div>