<br/>
    <div class="card">
      <div class="card-header" style="background-color:#2a1745;color:#fff">
          <h5>List</h5>
      </div>
           <div  class="card-body">
             <div class="listView">
               <div class="row">
                  <div class="col-md-1">
                      <h5 style="background-color:#2a1745;color:#fff;width:35px;height:30px"><span class="text-center" style="margin-left:10px;">1</span></h5> 
                  </div>
                  <div class="col-md-9">
                      <p>podium1</p>
                  </div>
                 </div>
                <!-- 2nd row -->
                <div class="row">
                    <div class="col-md-1">
                        <h5 style="background-color:#2a1745;color:#fff;width:35px;height:30px"><span class="text-center" style="margin-left:10px;">2</span></h5> 
                    </div>
                    <div class="col-md-9">
                        <p>podium2</p>
                    </div>
                   </div>
                   <!-- row 2 end -->
               </div>
           </div>

           <div class="card">
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-1">
                     <img src="../assets/1.jpeg" style="border-radius: 50px;width:50px;height:50px;margin-top:0px">
                    </div>
                     <div class="col-md-11">
                        <div class="row">
                          <div class="col-md-10">
                              <input type="text" placeholder="write your comment" class="form-control">     
                          </div>
                          <div class="col-md-2">
                              <button type="button" class="btn btn-success">Send</button>
                          </div>
                        </div>
                     </div>
                  </div> <!-- row for comments input ends-->
                  <!-- for user comments-->
                  <hr>
                    <div class="row">
                      <div class="col-md-1">
                          <img src="../assets/1.jpeg"  style="border-radius: 50px;width:50px;height:50px">
                      </div>
                      <div class="col-md-11">
                        <p style="margin-top:5px">Hey that was cool</p>
                      </div>
                    </div>
                  <!--for user comments ends-->
                </form>
              </div>
            </div>
    </div>



