<div class="container">
  <div class="row h-100">
    <br />

    <div class="col-md-6">
      <div class="container">
        <p>
          <span
            style="font-family: 'Playfair Display', serif;font-weight: bold;"
            ><img src="./assets/logo1.png" alt="logo" width="50px" />RAPID</span
          >
        </p>
        <br />
        <br />
        <h4 style="font-family: 'Playfair Display', serif;text-align: center;">
          Create Account
        </h4>
        <br />
        <form (ngSubmit)="loginUser(f.value)" #f="ngForm">
          <div class="form-group">
            <div class="label">Email Address</div>
            <input
              type="text"
              placeholder=""
              class="form-control"
              [(ngModel)]="MyphoneNumber"
              name="MyphoneNumber"
            />
            <br />
            <div class="label">Password</div>
            <input
              type="password"
              placeholder=""
              class="form-control"
              [(ngModel)]="MyphonePassword"
              name="MyphonePassword"
            />
          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-block"
              style="box-shadow:3px 3px 1px lightgrey"
            >
              Signup
            </button>
          </div>
          <br />
          <p class="text-center">
            Already have an account ?
            <span
              ><a routerLink="/" style="color:#21618C;cursor: pointer;"
                >Log in here</a
              ></span
            >
          </p>
        </form>
      </div>
    </div>
    <div class="col-md-6" style="margin-top:80px;text-align: center;">
      <img
        src="../../assets/multitasking-concept-illustration_23-2148393335.jpg"
        width="100%"
        height="100%"
      />
    </div>
  </div>
</div>
