.btn {
  background-color: #2a1745;
  color: #fff;
}
.card {
  padding: 10px;
  border-radius: 15px;
}
.container {
  padding: 20px;
}
#passwordtext {
  color: #2a1745;
}
form {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* input {
  background-color:rgb(209, 197, 197);
} */
.myform {
  width: 55px;
}
#btn-send {
  margin-top: 10px;
}
