<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <img src="../../assets/food9.jpg" class="img-thumbnail sideImage" />
      <br />
      <img src="../../assets/food8.jpg" class="img-thumbnail sideImage" />
      <br />
      <img src="../../assets/food4.jpg" class="img-thumbnail sideImage" />
      <br />
      <img src="../../assets/food5.jpg" class="img-thumbnail sideImage" />
      <br />
    </div>
    <div class="col-md-5">
      <!-- <div class="card card-body"> -->
      <img src="../../assets//food5.jpg" class="img-responsive mainImage" />
      <!-- </div> -->
    </div>
    <div class="col-md-5">
      <br />
      <h6>Cusines Italian</h6>
      <p>
        A pair of twill woven shorts featuring slanted front pockets, buttoned
        back pockets, a zip pocket, buttoned waist, and keychain loop. A pair of
        twill woven shorts featuring slanted front pockets, buttoned back
        pockets, a zip pocket, buttoned waist, and keychain loop.
      </p>
      <p><span>Posted On: 24 Dec 2019</span></p>
      <div class="row">
        <div class="col-md-3">
          <p>State: Punjab</p>
        </div>
        <div class="col-md-1">
          |
        </div>
        <div class="col-md-3">
          <p>City: Phagwara</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div id="direction">
            <span><i class="fas fa-compass"></i></span>
          </div>
        </div>
        <div class="col-md-9">
          <img src="../../assets/maps.jpg" class="img-responsive mapsImage" />
        </div>
      </div>
      <br />
      <div class="col-md-5">
        <button
          type="button"
          class="btn btn-primary btn-block"
          style="background-color: #2a1745; margin-top:10px;"
        >
          Get Food
        </button>
      </div>
    </div>
  </div>
</div>
