<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                    <div class="card-body" >
                        <div class="row" >
                             <div class="col-md-12">
                                 <h6><img [src]="addUserImage" width="50px" id="podiumUserImage">
                                Zersey Work
                                <span style="float:right;margin-top:15px">Skip <i class="fas fa-forward"></i></span></h6>
                                </div>
                                 <p  id="textMsg">Anyone with this link can join podium</p> 
                                <div class="col-md-12">
                                        <div class="item"><i class="fas fa-share"></i> Send via whatsapp</div>
                                        <hr>
                                        <div class="item"><i class="fas fa-copy"></i> Copy Link</div>
                                        <hr>
                                        <div class="item"><i class="fas fa-trash-alt"></i> Romove Link</div>
                                    </div>  
                        </div>
                    
                    </div>
            </div>
        </div>    
    </div>
</div>
