.container{
    padding:20px;
    margin-top:20px;
  }
  .card{
    padding:10px;
    border-radius:15px;
  }
  .btn{
   background-color:#2a1745;
   color:#fff;
  }
  .plaintext{
    color: #2a1745;
  }
  
  form{
    padding: 10px;
  }
  