<div class="container">
  <div class="row">
      <div class="col-md-4">
          <div class="card">
          
              <img src="../assets/2.jpg" class="card-img-top imageaAlbum img-thumbnail" alt="..." height="200px">
      
            <!-- <div class="card-body cardbadgeBody">
                <h6 class="badgeTextLeft"><q>It is about 35 kilometres from the state capital 
                    of Dehradun and 290 km north of the national 
                    capital of New Delhi.</q>
                    <p>TimesOfIndia</p>
                </h6>
            </div> -->
          </div>
        </div>
        <!-- 2nd card-->
        <div class="col-md-4">
            <div class="card">
            
                <img src="../assets/2.jpg" class="card-img-top imageaAlbum img-thumbnail" alt="..." height="200px">
        
              <!-- <div class="card-body cardbadgeBody">
                  <h6 class="badgeTextLeft"><q>It is about 35 kilometres from the state capital 
                      of Dehradun and 290 km north of the national 
                      capital of New Delhi.</q>
                      <p>TimesOfIndia</p>
                  </h6>
              </div> -->
            </div>
          </div>
          <!-- 3rd card-->
          <div class="col-md-4">
              <div class="card">
              
                  <img src="../assets/2.jpg" class="card-img-top imageaAlbum img-thumbnail" alt="..." height="200px">
          
                <!-- <div class="card-body cardbadgeBody">
                    <h6 class="badgeTextLeft"><q>It is about 35 kilometres from the state capital 
                        of Dehradun and 290 km north of the national 
                        capital of New Delhi.</q>
                        <p>TimesOfIndia</p>
                    </h6>
                </div> -->
              </div>
            </div>
  </div>
</div>