<app-navigation></app-navigation>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food2.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
          (click)="showDetail()"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food3.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food4.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food5.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food1.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card">
        <img
          src="../../assets/food7.jpg"
          class="card-img-top"
          alt="food items"
          height="150px"
        />
        <div class="card-body">
          <h6 class="text-center">Food Name</h6>
          <p>Address</p>
        </div>
      </div>
    </div>
  </div>
</div>
